.fondo{
    background-image: url("C:\Users\diego\Downloads\PI-Dogs-main\PI-Dogs-main\client\src\views\landing\Inicio.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px; 
    position: relative;
}

.home{
    position: absolute;
    width: 25%;
    height: 100%;
    padding-top: 29%;
}